<h4>Ações de administrador:</h4>

<hr>

<a href="/admin/categorias"><h5>Lista de categorias</h5></a>
<a href="/admin/postagens"><h5>Lista de postagens</h5></a>
<a href="/admin/usuarios"><h5>Lista de usuários</h5></a>